<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shiv.gastimate">

    <permission
        android:name="com.google.maps.android.utils.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.maps.android.utils.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LocationSearchActivity"
            android:parentActivityName=".LocationSearchActivity" />

        <activity
            android:name=".FuelActivity"
            android:parentActivityName=".LocationActivity" />
        <activity
            android:name=".Gastimate"
            android:parentActivityName=".FuelActivity" />
        <activity
            android:name=".VehicleAddActivity"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>